<section class="intro p-0 m-0">
  <div class="mask d-flex align-items-center h-100 ">
    <div class="container p-0 m-0">
      <div class="row justify-content-center ">
        <!-- left section starts -->
        <div class="col-md-8 col-xl-7 text-center pt-5">
          <div class="mt-5 me-3">
            <img style="margin-right: 37%;" src="../../../assets/img/symbol.png" alt="" width="25px" height="19px">
            <div>
              <span class="content_a">Lorem ipsum </span>
              <span class="content_b">&nbsp; Dolor<p>Sit Amet, Consectetur</p> </span>
            </div>
          </div>
          <div class="mt-5">
            <div class="vr mt-5 ps-2" style="height: 100px; position: relative;right: 21%;"></div>
            <div class="content_welcome">
              <span class="Welcome">Welcome</span>
              <p></p>
              <p></p>
              <span class="Suntech">Suntech</span>
              <p class="Build">Build Better Customer Relationships.</p>
            </div>
          </div>
        </div>
        <!-- left section ends -->
        <!-- Right section starts -->
        <div class="col-md-4 col-xl-5" style="height: 100%;">
          <div class="card pe-5 ps-5 pt-1">
            <div class="card-body text-center">
              <div class="me-4">
                <img src="../../../assets/img/suntechlogo.png" alt="" width="150px" height="36px">
              </div>
              <h2 class="fw-bold mt-3">Register</h2>
              <h6 class="pb-2">Enter Details for New User Registration</h6>

              <div class="mb-3">
                <span class="p-float-label p-input-icon-left">
                  <i class="pi pi-envelope"></i>
                  <input type="email" id="inputtext-left" pInputText>
                  <label for="inputtext-left">Email Address</label>
                </span>
              </div>
              <div class="mb-3">
                <span class="p-float-label p-input-icon-left">
                  <i class="pi pi-user"></i>
                  <input type="text" id="inputtext-left" pInputText>
                  <label for="inputtext-left">First Name</label>
                </span>
              </div>
              <div class="mb-3">
                <span class="p-float-label p-input-icon-left">
                  <i class="pi pi-user"></i>
                  <input type="text" id="inputtext-left" pInputText>
                  <label for="inputtext-left">Last Name</label>
                </span>
              </div>
              <div class="mb-3">
                <span class="p-float-label p-input-icon-left">
                  <i class="pi pi-eye"></i>
                  <input type="password" pInputText>
                  <label for="inputtext-left">Password</label>
                </span>
              </div>
              <div class="mb-3">
                <span class="p-float-label p-input-icon-left">
                  <i class="pi pi-mobile"></i>
                  <input type="text" id="inputtext-left" pInputText>
                  <label for="inputtext-left">Mobile</label>
                </span>
              </div>
              <div class="mb-3">
                <span class="p-float-label p-input-icon-left">
                  <i class="pi pi-user-edit"></i>
                  <input type="text" id="inputtext-left" pInputText>
                  <label for="inputtext-left">Role</label>
                </span>
              </div>
              <div>
                <button pButton type="button" class="p-button-raised  signin"><span>Register</span></button>
              </div>
              <div class="d-flex justify-content-center continue">
                <hr width="25%"><span class="fw-bold p-2"> or continue with </span>
                <hr width="25%px">
              </div>
              <div class="p-2">
                <i class="fa-brands fa-square-facebook pe-4"></i>
                <i class="fa-brands fa-google"></i>
              </div>
              <div class="d-flex justify-content-center continue">
                <span>Don’t have an account? <a routerLink="/login">Sign In</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-section">
    <img src="../../../assets/img/loginbottom.png" alt="" width="100%" height="100%">
  </div>
</section>
<!-- btmbackground -->