<!--Main Navigation-->
<header>
    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg  bg-grey">
        <!-- Container wrapper -->
        <div class="container-fluid me-3">
             <!-- Heading -->
            <div class="ms-4 p-1">
                <!-- <h2 class="">Dashboard</h2> -->
                <img src="../../../assets/img/la-marquise.png" alt="" width="117px" height="35px" >
            </div>

            <!-- Right links -->
            <ul class="navbar-nav ms-auto d-flex flex-row">
                <!-- Search form -->
                <form class="d-none d-md-flex input-group w-auto my-auto search_bar me-4 me-lg-3">
                    <input autocomplete="off" type="search"
                        placeholder='...' style="min-width: 325px" />
                    <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
                </form>
                <!-- Notification dropdown -->
                <li mdbDropdown class="nav-item dropdown me-3 me-lg-1">
                    <a class="nav-link dropdown-toggle hidden-arrow" id="navbarDropdownMenuLink" role="button"
                        mdbDropdownToggle aria-expanded="false">
                        <i class="fas fa-bell"></i>

                        <span class="badge rounded-pill badge-notification bg-danger">1</span>
                    </a>
                    <ul mdbDropdownMenu class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Some news</a></li>
                        <li><a class="dropdown-item" href="#">Another news</a></li>
                        <li>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </li>
                    </ul>
                </li>
                <div class="vr me-4 me-lg-4" style="height: 29px; background-color: rgb(210, 206, 206);"></div>
                <li mdbDropdown class="nav-item dropdown me-3 me-lg-1">
                    <a class="nav-link dropdown-toggle hidden-arrow" id="navbarDropdownMenuLink"
                        role="button" mdbDropdownToggle aria-expanded="false">
                        <img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="rounded-circle" height="22"
                            alt="" loading="lazy" />
                    </a>
                    <ul mdbDropdownMenu class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Some news</a></li>
                        <li><a class="dropdown-item" href="#">Another news</a></li>
                        <li>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </li>
                    </ul>
                </li>

                <!-- Avatar -->
                <!-- <li mdbDropdown class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" id="navbarDropdownMenuLink"
                        role="button" mdbDropdownToggle aria-expanded="false">
                        <img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="rounded-circle" height="22"
                            alt="" loading="lazy" />
                    </a>
                    <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">My profile</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li> -->
            </ul>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>
<!--Main Navigation-->