.save {
    height: 26px;
    background-color: #3599CC;
    span{
        padding: 7px;
    }
  }
.skip {
    height: 26px;
    border-color: #3599CC;
    color: #3599CC;
    span{
        padding: 7px;
    }
  }

.buttonsection{
    position: relative;
    left:55%;
}